@media (max-width: 1920px) 
    header
        .wrapper
            margin-top: 30px
            a
                padding-right: 25px
                font-size: 22px
    .main
        .container
            width: 800px
            .h1
                font-size: 116px
            .subtitle
                font-size: 48px
            .under
                top: 180px
                width: 380px
                height: 70px
            .under2
                top: 310px
                width: 540px
                height: 70px
            .h2
                font-size: 64px
            .descr-text
                font-size: 18px
            ul
                padding-top: 35px
                li
                    font-size: 18px
            .phone
                font-size: 28px
            .mail
                font-size: 28px
                padding-bottom: 20px
            .social
                margin-top: 40px
                .link
                    font-size: 24px
    footer
        font-size: 18px
        margin-bottom: 25px

@media (max-width: 1537px)
    header
        .wrapper
            margin-top: 20px
            a
                padding-right: 20px
                font-size: 18px
        
    .main
        .container
            width: 560px
            .h1
                font-size: 96px
            .subtitle
                font-size: 40px
            .under
                top: 150px
                width: 315px
                height: 60px
            .under2
                top: 255px
                width: 445px
                height: 60px
            .h2
                font-size: 48px
            .descr-text
                font-size: 16px
            ul
                padding-top: 25px
                li
                    font-size: 16px
            .phone
                font-size: 22px
            .mail
                font-size: 22px
                padding-bottom: 15px
            .social
                margin-top: 40px
                .link
                    font-size: 20px

@media (max-width: 1367px) 
    .main
        .container
            width: 500px
            .blue-screen
                .photo
                    position: fixed
                    right: -70px
                    bottom: -1px
                    width: 65%

@media (min-width: 320px) and (max-width: 992px)
    header
        .wrapper
            margin-left: 20px
            a
                padding-right: 30px
    .main
        position: static
        .container
            width: 100%
            margin: 20px 20px 0 20px
            .under
                top: 213px
                left: 40px
                width: 300px
                height: 70px
            .under2
                top: 318px
                left: 40px
                width: 435px
                height: 70px
            .blue-screen
                    display: block
                    position: relative
                    left: 0px
                    width: auto
                    height: 350px
                    background: #2C6CBF
                    margin-bottom: 50px
                    .photo
                        position: absolute
                        right: 0
                        bottom: 0
                        width: 100%
    footer
        margin-left: 10px